:root {
	--black: #000000;
	--primary: #0f56b3;
	--secondary: #c5dcfa;
	--grey-bg: #fbfbfb;
	--grey: #787878;
	--white: #ffffff;
	--fontBase: 'Manrope', sans-serif;
	--normal: 700 1rem/1.5rem var(--fontBase);
	--small: 800 0.625rem/0.9875rem var(--fontBase);
}

.body {
	background: var(--primary);
	margin: 0;
	font: var(--normal);
	color: var(--grey);
	min-inline-size: 22.5rem;
}
