.sidebar {
	background: var(--white);
	inline-size: 15.5rem;
	block-size: 100vh;
	overflow: hidden;
	transition: inline-size 0.5s;
	-webkit-transition: inline-size 0.5s;
	-moz-transition: inline-size 0.5s;
	-ms-transition: inline-size 0.5s;
	-o-transition: inline-size 0.5s;
}

.sidebar.is-collapse {
	inline-size: 4rem;
}

.sidebar-top {
	display: flex;
	block-size: 4rem;
	align-items: center;
	padding-inline-end: 0.5rem;
	padding-inline-start: 0.5rem;
}

.sidebar-handler {
	background: transparent;
	border: none;
	block-size: 24px;
	inline-size: 24px;
	margin: 0.75rem;
	padding: 0;
	box-sizing: content-box;
	cursor: pointer;
}

.sidebar-header {
	display: flex;
	align-items: center;
}

.sidebar.is-collapse .sidebar-header {
	display: none;
}

.sidebar-header a {
	text-decoration: none;
}

.sidebar-header p {
	color: var(--black);
	padding-inline-end: 0.5rem;
	padding-inline-start: 0.5rem;
	padding-block-end: 0.75rem;
	padding-block-start: 0.75rem;
	margin: 0;
	white-space: nowrap;
}

.sidebar-logo {
	margin: 0;
	block-size: 1.5rem;
	inline-size: 1.5rem;
}

.sidebar-logo img {
	inline-size: 100%;
}
